In [89]:
import pandas as pd
import numpy as np
from utils import *

# Read the data
df = pd.read_pickle('data_full.pkl')
df.head()

,id,question,options,_category,embedding,review_state,review_time,z_scores,s_score,Q_score
0,0,Sumita Khatri wrote a research report and foll...,"[No., Yes, relating to performance presentatio...",Ethical and Professional Standards,"[0.007968312129378319, -0.0021401941776275635,...","[0, 1, 2, 3, 2, 3, 2, 3, 2, 3, 2]","[15, 27, 14, 27, 9, 29, 25, 17, 21, 27, 10]","[0.3820518737576567, 0.5363807206058436, 0.843...",0.610634,0.068177
1,1,"Aryana Reid, CFA, is a private wealth manager....",[Publish the post and send it as a mail to the...,Ethical and Professional Standards,"[-0.02464733086526394, -0.014164824038743973, ...","[0, 1, 2, 3, 2, 3]","[12, 11, 19, 15, 10, 29]","[0.7689862117474828, 0.786084508687689, 0.2121...",0.296293,0.873316
2,2,Kent Miller is an investment adviser at UBN In...,"[determine Hartford’s needs, objectives, and t...",Ethical and Professional Standards,"[-0.0013949209824204445, -0.01329685840755701,...","[0, 1, 2, 3, 2, 3, 2, 3, 2]","[21, 17, 10, 14, 9, 4, 1, 25, 22]","[0.870843353639129, 0.2345210061401538, 0.3750...",0.962313,0.997442
3,3,"Justin Zoghlin, CFA, was hired as a wealth man...","[Serving the religious community., Managing no...",Ethical and Professional Standards,"[-0.01206973847001791, -0.030683474615216255, ...","[0, 1, 2, 3, 2, 3, 2, 3, 2]","[11, 1, 18, 10, 8, 15, 27, 3, 8]","[0.4614002670673235, 0.35638086787218004, 0.90...",0.036187,0.984961
4,4,"Rani Kaporwala, CFA, an analyst at Smart Secur...","[No., Yes, relating to communications with cli...",Ethical and Professional Standards,"[0.016661042347550392, -0.013284368440508842, ...","[0, 1, 2, 3, 2, 3, 2, 3, 2]","[19, 19, 29, 22, 4, 21, 25, 10, 19]","[0.16358718871336497, 0.010827304568776674, 0....",0.635618,0.141168

In [90]:
# compute Q scores
embeddings = np.asarray(df['embedding']).reshape(len(df), -1)
# Assuming df['z_scores'] is a column of lists or similar structures
z_scores_list = df['z_scores'].tolist()
max_length = 11
padded_z_scores = []

# Padding each z_score sequence to ensure all are of the same length
for z_score in z_scores_list:
    if len(z_score) < max_length:
        pad_len = max_length - len(z_score)
        padded_z_score = [np.nan]*pad_len + z_score
    else:
        padded_z_score = z_score
    padded_z_scores.append(padded_z_score)

# Converting the list of lists into a 2D numpy array
z_scores_array = np.array(padded_z_scores)
print(z_scores_array.shape)

df['z_scores'] = z_scores_array
print(df['z_scores'].shape)
z_scores = np.asarray(df['z_scores'])
print(z_scores.shape)

(34, 11)
(34,)